<div class="article-controls">
    <ul>
        <li>@Html.ActionLink("Изменить", "Edit", "Article", new { id = Model.Id }, null)</li>
        <li>@Html.ActionLink("Удалить", "Delete", "Article", new { id = Model.Id }, null)</li>
    </ul>
</div>
